
body {
  margin: 0;
  font-family: sans-serif;
  background: linear-gradient(to bottom right, #cfe2ff, white, #d7f3ff);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
